# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/

# Secrets
.env

# Data files (muy grandes)
data/raw/*.csv
data/processed/*.csv

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# macOS
.DS_Store

# Streamlit
.streamlit/secrets.toml
